---
import Container from '../components/Container.astro'
import Footer from '../components/Footer.astro'
import Logo from '../components/Logo.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
    title="Math Proofs - Mathematical proofs, easily explained"
    description="On this website you can find mathematical proofs for many famous theorems. These proofs are easy to read and understand."
>
    <!-- Navbar -->
    <header>
        <Container class="my-8">
            <a href="/" class="text-stone-700">
                <Logo />
            </a>
        </Container>
    </header>

    <main>
        <!-- Hero section -->
        <Container className="my-48 md:my-32">
            <h1 class="mb-4 text-6xl font-medium md:mb-2 md:text-4xl">Mathematical proofs,</h1>
            <h2 class="mb-20 text-5xl font-medium text-yellow-600 md:mb-10 md:text-3xl"
                >Easily explained</h2
            >

            <div class="relative">
                <form method="get" action="/">
                    <input
                        type="text"
                        name="search"
                        id="search"
                        class="w-full py-4 pl-16 pr-6 text-lg transition border rounded-md shadow-sm md:pl-11 md:py-3 md:pr-4 md:text-base placeholder-stone-500 border-stone-300 peer focus:ring-1 focus:ring-yellow-500 focus:border-yellow-500 focus:outline-none"
                        placeholder="Search Proofs..."
                        autofocus
                    />

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="absolute w-6 h-6 transition -translate-y-1/2 md:w-5 md:h-5 text-stone-500 peer-focus:text-yellow-500 top-1/2 left-6 md:left-4"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                </form>
            </div>
        </Container>
    </main>

    <!-- Footer -->
    <Footer />
</Layout>
